@font-face {
 font-family: LemonMilkLI;
 src: url('fonts/lemon_milk/LEMONMILK-LightItalic.otf');
}

@font-face {
 font-family: Tall Films;
 src: url('fonts/tall_films/Tall Film.ttf')
}
@font-face {
  font-family: Alegreya Sans SC Thin Italic;
  src: url('fonts/Alegreya_Sans_SC/AlegreyaSanSC-ThinItalic.ttf');
}

body {
 background-image: url('img/gradient.svg');
}

div.head {
 font-family: LemonMilkLI;
 padding: 50px 50px 0px 50px;
 margin: 0;
 color: white;
}

div.head > nav {
 margin-bottom: 0;
 display: inline;
}

.cctv:hover {
  transform: scale(1.2);
}
.cctv {
  transition: all 1s;
  transition-timing-function: cubic-bezier(.87,1,.6,.19);
  transform-origin: 50% 50%;
}

.ccfilm:hover {
  transform: scale(1.2);
}
.ccfilm {
  transition: all 1s;
  transition-timing-function: cubic-bezier(.87,1,.6,.19);
  transform-origin: 50% 50%;
}

.cchome:hover {
  transform: scale(1.2);
}
.cchome {
  transition: all 1s;
  transition-timing-function: cubic-bezier(.87,1,.6,.19);
  transform-origin: 50% 50%;
}

p.introduction {
 font-family: Tall Films;
 font-size: 65px;
 float: left;
 color: gray;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #948970;
  font-family: Tall Films;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: Tall Films;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

#lnslogo {
  flex-basis: 40%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

div > div > p.desc {
  padding-left: 10px;
  font-family: Tall Films;
  font-size: 25px;
  color: #e6e6e6;
  opacity: 0.4;
  font-style: oblique;
}

#e_tv_info {
  padding-left: 10px;
  font-family: LemonMilkLI;
  color: #6c3421;
}

/* Style the tab */
.szntab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #573333;
}

/* Style the buttons inside the tab */
.szntab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: LemonMilkLI;
}

/* Change background color of buttons on hover */
.szntab button:hover {
  background-color: #4d2121;
}

/* Create an active/current tablink class */
.szntab button.active {
  background-color: #753434;
}

/* Style the tab content */
.szntabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-family: Tall Films;
}

span#h_3362059 < a {
 color: salmon;
 text-decoration: none;
 font-family: Arial;
}

.tvthumb:hover {
  transform: scale(2.2);
}

.tvthumb {
  transition: all 1s;
  transition-timing-function: cubic-bezier(.87,1,.6,.19);
  transform-origin: 50% 50%;
}
